<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstrg;AccountKey=uZtuuNMdicYmtS0l0PyrkW1QTKanBqOOSMhXs/uBcdiKocmFuJxkTC7hurGblLQvJQ3AfF7mY8facrDB2zQJkw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>